/* ------------------------|
|                          |
|      STYLE BANNER        |
|                          |
| -------------------------|
*/

.section-banners{
    position: relative;
    margin-top: 0; 
    padding: 0;
    background-color: $l-gray;


    .cycle-prev, .cycle-next{
        @include absolute($t: 41%, $l: 10px, $z: 120);
        @include size(100px);
        @include flex(center, center);
        cursor: pointer;
        opacity: 0.8;
        // border: 1px solid $secondary-color;
        // border-radius: 50%;
        @include transition();
        // background-color: rgba(0,0,0,0.3);
    }

    .cycle-next{
        left: initial;
        right: 10px;
    }

    .cycle-prev:hover, .cycle-next:hover{
        // background-color: #FFF;
        transform: scale(1.1);
        opacity: 1;
    }
    
    .txt-banner{
        left: 0%;
        top: 410px;
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 680px;
        // padding: 0 60px;

        .btn{
            margin-top: 10px;
        }
    }


    .h1{
        line-height: 0.9;
        font-size: 9em;
        font-weight: 400;
        color: #f8f8f8;
        margin-bottom: 2px;
        letter-spacing: 10px;

        p{ font-size: 1em; }
    }

    .h2{
        color: #f8f8f8;
        font-weight: 400;
        font-size: 1.6em;
        line-height: 1.4;
        margin-bottom: 17px;
        letter-spacing: 1px;
    }


    .cycle-slideshow .li{
        top: 0px !important;
        width: 100%;
        height: 820px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        
        // animation: banner_vert 22s ease-in infinite;

        &.video{
            pointer-events: none;
        }

        &.horiz{
            animation: banner_horiz 22s ease-in infinite;
        }

        .overlay{
            @include absolute($l: 0, $t:0, $z: 1);
            @include size(100%);
            background: linear-gradient(to bottom, rgba(30,30,30,.2) 0%, rgba(30,30,30,0.6) 100%);
        }
    }

    .cycle-pager{
        text-align: center;
        @include absolute($b: 30px, $l:0, $z: 101);
        @include size(100%, auto);
        cursor: pointer;

        span{
            text-indent: -9999px;
            @include size(6px, 6px);
            background-color: #FFF;
            display: inline-block;
            margin: 0 20px;
            border-radius: 3px;
        }

        .cycle-pager-active{
            @include size(10px, 10px);
            background-color: $primary-color;
            transform: translateY(-2px);
        }
    }
}

@keyframes banner_vert {
    0%   { background-position: center top 0; }
    50%  { background-position: center top -300px; }
    100% { background-position: center top 0; }
}

@keyframes banner_horiz {
    0%   { background-position: left 0 top; }
    50%  { background-position: left -200px top; }
    100% { background-position: left 0 top; }
}



.banner-parallax-big{
    -webkit-mask-image: url(../img/banner-mask.png);
    mask-image: url(../img/banner-mask.png);
    mask-repeat: no-repeat;
    mask-size: contain;
    aspect-ratio: 1920 / 820;
    overflow: hidden;
    max-height: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img{
        transform: translateX(134px);
        max-width: 2460px;
        // filter: brightness(.6);

        position: relative;
        left: clamp(-150px, calc(-150px + 5vw), 0px);
    }
}

.banner-parallax-small{
    margin-top: calc(-223 * 100vw / 1920);
    -webkit-mask-image: url(../img/banner-mask-small.png);
    mask-image: url(../img/banner-mask-small.png);
    mask-repeat: no-repeat;
    mask-size: cover;
    aspect-ratio: 1920 / 525;
    overflow: hidden;
    max-height: 525px;
    margin-left: auto;
    margin-right: auto;

    img{
        transform: translateX(-84px);
        // max-width: 2300px;
        max-width: clamp(1200px, 155vw, 2300px);

        position: relative;
        left: 60%;
        margin-left: -1150px;
    }
}