:root {
   --ease-animation: cubic-bezier(0.38,0,.02,1);
   --t0: 1.0s;
   --t1: 1.5s;
   --t2: 2.0s;
   --t3: 2.5s;
   --t4: 3.0s;
}


/*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜* GERAL *˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*/

html { scroll-behavior: smooth; }
body { 
   font: 62.5% $primary-font, sans-serif; 
   font-weight: 400;
   color: $root-color;
   background: #FFF;
   line-height: 1.9;
   letter-spacing: 0.5em;
   overflow-x: hidden;
   text-rendering: optimizeSpeed;
}


a { color: inherit; text-decoration: none; transition: all .2s linear; }
a:hover{ color: $primary-color; }

strong{ font-weight: 800; color: $root-color; }

h1, h2{ 
   @include fs-vw(3);
   // font-size: 4.2em;
    line-height: 1.6;
   font-weight: 400;
   color: $root-color;
   // letter-spacing: .12em;
   margin-bottom: 30px;
   // text-align: center;
}

h3{
   @include fs-vw(3.2);
   // font-size: 3.6em;
   font-weight: 300;
   letter-spacing: .12em;
   margin-bottom: 20px;
   transition: all 0.3s linear;
   line-height: 1.3;

   &.big{
      font-size: 30px;
   }
}

h4{
   font-size: 2.2em;
   font-family: $secondary-font;
   font-weight: 400;
   line-height: 1.4;
   // color: $primary-color;
   margin-bottom: 15px;
   // text-align: center;
   // letter-spacing: 0px;
}


ul{ list-style-type: none; }

.line{ 
   background: $d-gray; 
}

hr{
   height: 1px;
   width: 100%;
   background: $root-color;
   margin: 15px 0;
   border: none;
}

section{
   padding: 90px 0;
}

p{
   font-size: 1.6em;
   letter-spacing: 0.05em;
   line-height: 1.875;
   // @include fs-vw(2.2);
}

small{
   font-size: 1.6em;
}

/* ------------------------|
|                          |
|  STYLE CLASSES PADRÕES   |
|                          |
| -------------------------|
*/

.wrap{
   max-width: 1530px;
   width: 100%;
   margin: 0 auto;
   padding: 0 33px;

   &.compact{ max-width: 1000px; }
   &.wide{ max-width: 1470px; }
}

// @media only screen and (min-width: 1921px) {
//    .wrap{
//      
//    }
// }



.is-absolute{ position: absolute; }

.bg-white{ background: #FFF !important; }
.bg-gray{ background: $gray-color !important; }
.bg-l-gray{ background: $l-gray !important; }
.bg-ll-gray{ background: $ll-gray !important; }
.bg-root{ background: $root-color !important; }
.bg-primary{ background: $primary-color !important; }
.bg-secondary{ background: $secondary-color !important; }

.color-root{ color: $root-color; }
.color-primary{ color: $primary-color !important; }
.color-secondary{ color: $secondary-color !important; }
.color-white{ color: #FFF !important; }
.color-gray{ color: $gray-color !important }
.color-gray-light{ color: $ll-gray !important }

.is-pointer-off{ pointer-events: none; }

.z-index-0{ z-index: 0; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2; }

.lp-0{ letter-spacing: 0; }

.w100{ width: 100%; }
.h100{ height: 100%; }

.box{ border-radius: 0; box-shadow: none; }

address{ font-style: normal; }

/* ------------------------|
|                          |
|  STYLE CLASSES EXTRAS    |
|                          |
| -------------------------|
*/

.font-primary{ font-family: $primary-font !important; }
.font-secondary{ font-family: $secondary-font !important; font-style: italic; }


.fs-12{ font-size: 1.2em !important; }
.fs-14{ font-size: 1.4em !important; }
.fs-16{ font-size: 1.6em !important; }
.fs-18{ font-size: 1.8em !important; }
.fs-20{ font-size: 2em !important; }
.fs-22{ font-size: 2.2em !important; }