/* ------------------------|
|                          |
|          FOOTER          |
|                          |
| -------------------------|
*/

footer{
   p {
      text-transform: uppercase;
   }

   strong {
      font-weight: 500;
   }

   .assinatura a{
      color: #25282b;

      &:hover{
         color: black;
         text-decoration: underline;
      }
   }
}