
/* MARGINS */

.mr0 {margin-right:   0 !important}
.mr5 {margin-right:   5px !important}
.mr10{margin-right:  10px !important}
.mr15{margin-right:  15px !important}
.mr20{margin-right:  20px !important}
.mr25{margin-right:  25px !important}
.mr30{margin-right:  30px !important}
.mr40{margin-right:  40px !important}
.mr50{margin-right:  50px !important}
.mr60{margin-right:  60px !important}
.mr70{margin-right:  70px !important}
.mr80{margin-right:  80px !important}
.mr90{margin-right:  90px !important}
.mr100{margin-right: 100px !important}
.mr110{margin-right: 110px !important}

.ml0{margin-left:    0px !important}
.ml5{margin-left:    5px !important}
.ml10{margin-left:  10px !important}
.ml15{margin-left:  15px !important}
.ml20{margin-left:  20px !important}
.ml30{margin-left:  30px !important}
.ml40{margin-left:  40px !important}
.ml50{margin-left:  50px !important}
.ml60{margin-left:  60px !important}
.ml70{margin-left:  70px !important}
.ml80{margin-left:  80px !important}
.ml90{margin-left:  90px !important}
.ml95{margin-left:  95px !important}
.ml100{margin-left: 100px !important}
.ml110{margin-left: 110px !important}
.ml120{margin-left: 120px !important}
.ml130{margin-left: 130px !important}
.ml140{margin-left: 140px !important}
.ml180{margin-left: 180px !important}
.ml200{margin-left: 200px !important}

.mt0{margin-top: 0px !important}
.mt5  {margin-top: 5px !important}
.mt10 {margin-top: 10px !important}
.mt15 {margin-top: 15px !important}
.mt17 {margin-top: 17px !important}
.mt20 {margin-top: 20px !important}
.mt25 {margin-top: 25px !important}
.mt30 {margin-top: 30px !important}
.mt40 {margin-top: 40px !important}
.mt50 {margin-top: 50px !important}
.mt60 {margin-top: 60px !important}
.mt70 {margin-top: 70px !important}
.mt80 {margin-top: 80px !important}
.mt90 {margin-top: 90px !important}
.mt100{margin-top: 100px !important}
.mt110{margin-top: 110px !important}
.mt115{margin-top: 115px !important}
.mt120{margin-top: 120px !important}
.mt130{margin-top: 130px !important}
.mt140{margin-top: 140px !important}
.mt145{margin-top: 145px !important}
.mt150{margin-top: 150px !important}
.mt160{margin-top: 160px !important}
.mt170{margin-top: 170px !important}
.mt180{margin-top: 180px !important}
.mt190{margin-top: 190px !important}
.mt200{margin-top: 200px !important}
.mt210{margin-top: 210px !important}
.mt220{margin-top: 220px !important}
.mt230{margin-top: 230px !important}
.mt240{margin-top: 240px !important}
.mt250{margin-top: 250px !important}

.mb0{margin-bottom:    0px !important}
.mb5{margin-bottom:    5px !important}
.mb10{margin-bottom:  10px !important}
.mb15{margin-bottom:  15px !important}
.mb20{margin-bottom:  20px !important}
.mb30{margin-bottom:  30px !important}
.mb40{margin-bottom:  40px !important}
.mb45{margin-bottom:  45px !important}
.mb50{margin-bottom:  50px !important}
.mb60{margin-bottom:  60px !important}
.mb70{margin-bottom:  70px !important}
.mb80{margin-bottom:  80px !important}
.mb90{margin-bottom:  90px !important}
.mb100{margin-bottom: 100px !important}
.mb130{margin-bottom: 130px !important}
.mb150{margin-bottom: 150px !important}


/* PADDINGS */

.pd0{ padding: 0px !important}
.pd10{padding: 10px !important}
.pd15{padding: 15px !important}
.pd20{padding: 20px !important}
.pd30{padding: 30px !important}
.pd40{padding: 40px !important}
.pd50{padding: 50px !important}

.pl0{ padding-left:   0px !important}
.pl5{ padding-left:   5px !important}
.pl10{padding-left:  10px !important}
.pl15{padding-left:  15px !important}
.pl20{padding-left:  20px !important}
.pl25{padding-left:  25px !important}
.pl30{padding-left:  30px !important}
.pl40{padding-left:  40px !important}
.pl50{padding-left:  50px !important}
.pl60{padding-left:  60px !important}
.pl70{padding-left:  70px !important}
.pl80{padding-left:  80px !important}
.pl90{padding-left:  90px !important}
.pl100{padding-left: 100px !important}
.pl110{padding-left: 110px !important}
.pl120{padding-left: 120px !important}
.pl130{padding-left: 130px !important}
.pl140{padding-left: 140px !important}
.pl150{padding-left: 150px !important}

.pr0{padding-right:    0px !important}
.pr5{padding-right:    5px !important}
.pr10{padding-right:  10px !important}
.pr15{padding-right:  15px !important}
.pr20{padding-right:  20px !important}
.pr25{padding-right:  25px !important}
.pr30{padding-right:  30px !important}
.pr40{padding-right:  40px !important}
.pr50{padding-right:  50px !important}
.pr60{padding-right:  60px !important}
.pr70{padding-right:  70px !important}
.pr80{padding-right:  80px !important}
.pr90{padding-right:  90px !important}
.pr100{padding-right: 100px !important}
.pr110{padding-right: 110px !important}
.pr120{padding-right: 120px !important}
.pr130{padding-right: 130px !important}
.pr140{padding-right: 140px !important}
.pr150{padding-right: 150px !important}

.pb0  {padding-bottom:   0px !important}
.pb5  {padding-bottom:   5px !important}
.pb10 {padding-bottom:  10px !important}
.pb20 {padding-bottom:  20px !important}
.pb30 {padding-bottom:  30px !important}
.pb40 {padding-bottom:  40px !important}
.pb50 {padding-bottom:  50px !important}
.pb60 {padding-bottom:  60px !important}
.pb70 {padding-bottom:  70px !important}
.pb80 {padding-bottom:  80px !important}
.pb90 {padding-bottom:  90px !important}
.pb100{padding-bottom: 100px !important}
.pb110{padding-bottom: 110px !important}
.pb120{padding-bottom: 120px !important}
.pb130{padding-bottom: 130px !important}
.pb150{padding-bottom: 150px !important}
.pb160{padding-bottom: 160px !important}
.pb170{padding-bottom: 170px !important}

.pt0  {padding-top:   0px !important}
.pt5  {padding-top:   5px !important}
.pt10 {padding-top:  10px !important}
.pt20 {padding-top:  20px !important}
.pt30 {padding-top:  30px !important}
.pt40 {padding-top:  40px !important}
.pt50 {padding-top:  50px !important}
.pt60 {padding-top:  60px !important}
.pt70 {padding-top:  70px !important}
.pt80 {padding-top:  80px !important}
.pt90 {padding-top:  90px !important}
.pt100{padding-top: 100px !important}
.pt110{padding-top: 110px !important}
.pt120{padding-top: 120px !important}
.pt130{padding-top: 130px !important}



// TABLET

@media only screen and (min-width: 577px) and (max-width: 1024px){

    .is-order-0-tablet{ order: 0 }
    .is-order-1-tablet{ order: 1 }
    .is-order-2-tablet{ order: 2 }
    .is-order-3-tablet{ order: 3 }

    .mt0-tablet   {margin-top: 0px  !important}
    .mt5-tablet   {margin-top: 5px !important}
    .mt10-tablet  {margin-top: 10px !important}
    .mt20-tablet  {margin-top: 20px !important}
    .mt30-tablet  {margin-top: 30px !important}
    .mt40-tablet  {margin-top: 40px !important}
    .mt50-tablet  {margin-top: 50px !important}
    .mt60-tablet  {margin-top: 60px !important}
    .mt70-tablet  {margin-top: 70px !important}
    .mt80-tablet  {margin-top: 80px !important}
    .mt100-tablet {margin-top: 100px !important}
    .mt200-tablet {margin-top: 200px !important}

    .mb0-tablet  {margin-bottom: 0px  !important}
    .mb10-tablet {margin-bottom: 10px !important}
    .mb20-tablet {margin-bottom: 20px !important}
    .mb30-tablet {margin-bottom: 30px !important}
    .mb50-tablet {margin-bottom: 50px !important}
    .mb60-tablet {margin-bottom: 60px !important}

    .ml0-tablet  {margin-left: 0px  !important}
    .ml30-tablet {margin-left: 30px !important}
    .ml40-tablet {margin-left: 40px !important}
    .ml50-tablet {margin-left: 50px !important}
    .ml100-tablet {margin-left: 100px !important}

    .mr0-tablet {margin-right: 0px !important}
    .mr5-tablet {margin-right: 5px !important}
    .mr10-tablet {margin-right: 10px !important}
    .mr20-tablet {margin-right: 20px !important}


    /* PADDINGS */

    .pl0-tablet { padding-left: 0px  !important; }
    .pl10-tablet{ padding-left: 10px !important; }
    .pl20-tablet{ padding-left: 20px !important; }
    .pl30-tablet{ padding-left: 30px !important; }
    .pl40-tablet{ padding-left: 40px !important; }

    .pr0-tablet { padding-right: 0px  !important; }
    .pr10-tablet{ padding-right: 10px !important; }
    .pr20-tablet{ padding-right: 20px !important; }
    .pr30-tablet{ padding-right: 30px !important; }
    .pr40-tablet{ padding-right: 40px !important; }

    .pt50-tablet{ padding-top: 50px !important; }

    .pb20-tablet{ padding-bottom: 20px !important; }
    .pb30-tablet{ padding-bottom: 30px !important; }
}



// MOBILE

@media only screen and (max-width: 576px) {

    .is-order-0-mobile{ order: 0 }
    .is-order-1-mobile{ order: 1 }
    .is-order-2-mobile{ order: 2 }
    .is-order-3-mobile{ order: 3 }


    .mt0-mobile  {margin-top: 0px !important}
    .mt5-mobile  {margin-top: 5px !important}
    .mt10-mobile {margin-top: 10px !important}
    .mt15-mobile {margin-top: 15px !important}
    .mt17-mobile {margin-top: 17px !important}
    .mt20-mobile {margin-top: 20px !important}
    .mt25-mobile {margin-top: 25px !important}
    .mt30-mobile {margin-top: 30px !important}
    .mt40-mobile {margin-top: 40px !important}
    .mt50-mobile {margin-top: 50px !important}
    .mt60-mobile {margin-top: 60px !important}
    .mt70-mobile {margin-top: 70px !important}
    .mt80-mobile {margin-top: 80px !important}
    .mt90-mobile {margin-top: 90px !important}
    .mt100-mobile{margin-top: 100px !important}
    .mt110-mobile{margin-top: 110px !important}
    .mt115-mobile{margin-top: 115px !important}
    .mt120-mobile{margin-top: 120px !important}
    .mt130-mobile{margin-top: 130px !important}
    .mt140-mobile{margin-top: 140px !important}
    .mt145-mobile{margin-top: 145px !important}
    .mt150-mobile{margin-top: 150px !important}
    .mt170-mobile{margin-top: 170px !important}

    .mb0-mobile{margin-bottom:    0px !important}
    .mb5-mobile{margin-bottom:    5px !important}
    .mb10-mobile{margin-bottom:  10px !important}
    .mb15-mobile{margin-bottom:  15px !important}
    .mb20-mobile{margin-bottom:  20px !important}
    .mb30-mobile{margin-bottom:  30px !important}
    .mb40-mobile{margin-bottom:  40px !important}
    .mb50-mobile{margin-bottom:  50px !important}
    .mb60-mobile{margin-bottom:  60px !important}
    .mb70-mobile{margin-bottom:  70px !important}
    .mb80-mobile{margin-bottom:  80px !important}
    .mb90-mobile{margin-bottom:  90px !important}
    .mb100-mobile{margin-bottom: 100px !important}
    .mb100-mobile{margin-bottom: 100px !important}
    .mb180-mobile{margin-bottom: 180px !important}

    .mr0-mobile{margin-right:   0 !important}
    .mr5-mobile{margin-right:   5px !important}
    .mr10-mobile{margin-right:  10px !important}
    .mr15-mobile{margin-right:  15px !important}
    .mr20-mobile{margin-right:  20px !important}
    .mr30-mobile{margin-right:  30px !important}
    .mr40-mobile{margin-right:  40px !important}
    .mr50-mobile{margin-right:  50px !important}
    .mr60-mobile{margin-right:  60px !important}
    .mr70-mobile{margin-right:  70px !important}
    .mr80-mobile{margin-right:  80px !important}
    .mr90-mobile{margin-right:  90px !important}
    .mr100-mobile{margin-right: 100px !important}
    .mr110-mobile{margin-right: 110px !important}

    .ml0-mobile{margin-left:    0px !important}
    .ml5-mobile{margin-left:    5px !important}
    .ml10-mobile{margin-left:  10px !important}
    .ml15-mobile{margin-left:  15px !important}
    .ml20-mobile{margin-left:  20px !important}
    .ml30-mobile{margin-left:  30px !important}
    .ml40-mobile{margin-left:  40px !important}
    .ml50-mobile{margin-left:  50px !important}
    .ml60-mobile{margin-left:  60px !important}
    .ml70-mobile{margin-left:  70px !important}
    .ml80-mobile{margin-left:  80px !important}
    .ml90-mobile{margin-left:  90px !important}
    .ml95-mobile{margin-left:  95px !important}
    .ml100-mobile{margin-left: 100px !important}
    .ml110-mobile{margin-left: 110px !important}



    /* PADDINGS */

    .pb0-mobile{padding-bottom:   0px !important}
    .pb5-mobile{padding-bottom:   5px !important}
    .pb10-mobile{padding-bottom:  10px !important}
    .pb15-mobile{padding-bottom:  15px !important}
    .pb20-mobile{padding-bottom:  20px !important}
    .pb30-mobile{padding-bottom:  30px !important}
    .pb40-mobile{padding-bottom:  40px !important}
    .pb50-mobile{padding-bottom:  50px !important}
    .pb60-mobile{padding-bottom:  60px !important}
    .pb70-mobile{padding-bottom:  70px !important}
    .pb80-mobile{padding-bottom:  80px !important}
    .pb90-mobile{padding-bottom:  90px !important}
    .pb100-mobile{padding-bottom: 100px !important}

    .pt0-mobile {padding-top:   0px !important}
    .pt5-mobile {padding-top:   5px !important}
    .pt10-mobile{padding-top:  10px !important}
    .pt15-mobile{padding-top:  15px !important}
    .pt20-mobile{padding-top:  20px !important}
    .pt30-mobile{padding-top:  30px !important}
    .pt40-mobile{padding-top:  40px !important}
    .pt50-mobile{padding-top:  50px !important}
    .pt60-mobile{padding-top:  60px !important}
    .pt70-mobile{padding-top:  70px !important}
    .pt80-mobile{padding-top:  80px !important}
    .pt90-mobile{padding-top:  90px !important}
    .pt100-mobile{padding-top: 100px !important}
    .pt110-mobile{padding-top: 110px !important}
    .pt120-mobile{padding-top: 120px !important}
    .pt130-mobile{padding-top: 130px !important}

    .pr0-mobile {padding-right:   0px !important}
    .pr5-mobile {padding-right:   5px !important}
    .pr10-mobile{padding-right:  10px !important}
    .pr15-mobile{padding-right:  15px !important}
    .pr20-mobile{padding-right:  20px !important}
    .pr25-mobile{padding-right:  25px !important}
    .pr30-mobile{padding-right:  30px !important}
    .pr40-mobile{padding-right:  40px !important}
    .pr50-mobile{padding-right:  50px !important}
    .pr60-mobile{padding-right:  60px !important}
    .pr70-mobile{padding-right:  70px !important}
    .pr80-mobile{padding-right:  80px !important}
    .pr90-mobile{padding-right:  90px !important}
    .pr100-mobile{padding-right: 100px !important}
    .pr110-mobile{padding-right: 110px !important}
    .pr120-mobile{padding-right: 120px !important}
    .pr130-mobile{padding-right: 130px !important}
    .pr140-mobile{padding-right: 140px !important}
    .pr150-mobile{padding-right: 150px !important}


    .pl0-mobile {padding-left:   0px !important}
    .pl5-mobile {padding-left:   5px !important}
    .pl10-mobile{padding-left:  10px !important}
    .pl15-mobile{padding-left:  15px !important}
    .pl20-mobile{padding-left:  20px !important}
    .pl25-mobile{padding-left:  25px !important}
    .pl30-mobile{padding-left:  30px !important}
    .pl40-mobile{padding-left:  40px !important}
    .pl50-mobile{padding-left:  50px !important}
    .pl60-mobile{padding-left:  60px !important}
    .pl70-mobile{padding-left:  70px !important}
    .pl80-mobile{padding-left:  80px !important}
    .pl90-mobile{padding-left:  90px !important}
    .pl100-mobile{padding-left: 100px !important}
    .pl110-mobile{padding-left: 110px !important}
    .pl120-mobile{padding-left: 120px !important}
    .pl130-mobile{padding-left: 130px !important}
    .pl140-mobile{padding-left: 140px !important}
    .pl150-mobile{padding-left: 150px !important}
}