
// GLOBAL SPACING CLASSES (0px to 250px, step 5)
@for $i from 0 through 100 {
    $value: $i * 5;

    // Margins
    .mt#{$value} { margin-top: $value + px !important; }
    .mb#{$value} { margin-bottom: $value + px !important; }
    .ml#{$value} { margin-left: $value + px !important; }
    .mr#{$value} { margin-right: $value + px !important; }

    // Paddings
    .pt#{$value} { padding-top: $value + px !important; }
    .pb#{$value} { padding-bottom: $value + px !important; }
    .pl#{$value} { padding-left: $value + px !important; }
    .pr#{$value} { padding-right: $value + px !important; }
    .pd#{$value} { padding: $value + px !important; }
}

// TABLET
@media only screen and (min-width: 577px) and (max-width: 1024px) {
    .is-order-0-tablet { order: 0; }
    .is-order-1-tablet { order: 1; }
    .is-order-2-tablet { order: 2; }
    .is-order-3-tablet { order: 3; }

    @for $i from 0 through 100 {
        $value: $i * 5;
        .mt#{$value}-tablet { margin-top: $value + px !important; }
        .mb#{$value}-tablet { margin-bottom: $value + px !important; }
        .ml#{$value}-tablet { margin-left: $value + px !important; }
        .mr#{$value}-tablet { margin-right: $value + px !important; }
        .pt#{$value}-tablet { padding-top: $value + px !important; }
        .pb#{$value}-tablet { padding-bottom: $value + px !important; }
        .pl#{$value}-tablet { padding-left: $value + px !important; }
        .pr#{$value}-tablet { padding-right: $value + px !important; }
    }
}

// NOTEBOOK
@media only screen and (min-width: 1025px) and (max-width: 1680px) {

    @for $i from 0 through 100 {
        $value: $i * 5;
        .mt#{$value}-notebook { margin-top: calc((#{$value} / 1280) * 100vw) !important; }
        .mb#{$value}-notebook { margin-bottom: calc((#{$value} / 1280) * 100vw) !important; }
        .ml#{$value}-notebook { margin-left: calc((#{$value} / 1280) * 100vw) !important; }
        .mr#{$value}-notebook { margin-right: calc((#{$value} / 1280) * 100vw) !important; }
        .pt#{$value}-notebook { padding-top: calc((#{$value} / 1280) * 100vw) !important; }
        .pb#{$value}-notebook { padding-bottom: calc((#{$value} / 1280) * 100vw) !important; }
        .pl#{$value}-notebook { padding-left: calc((#{$value} / 1280) * 100vw) !important; }
        .pr#{$value}-notebook { padding-right: calc((#{$value} / 1280) * 100vw) !important; }
    }
}



// MOBILE
@media only screen and (max-width: 576px) {
    .is-fullwidth-mobile { width: 100% !important; }
    .is-order-0-mobile { order: 0; }
    .is-order-1-mobile { order: 1; }
    .is-order-2-mobile { order: 2; }
    .is-order-3-mobile { order: 3; }

    @function vw($px, $base: 540) {
        @return calc((#{$px} / #{$base}) * 100vw);
    }

    @for $i from 0 through 100 {
        $value: $i * 5;

        .mt#{$value}-mobile { margin-top: vw($value) !important; }
        .mb#{$value}-mobile { margin-bottom: vw($value) !important; }
        .ml#{$value}-mobile { margin-left: vw($value) !important; }
        .mr#{$value}-mobile { margin-right: vw($value) !important; }

        .pt#{$value}-mobile { padding-top: vw($value) !important; }
        .pb#{$value}-mobile { padding-bottom: vw($value) !important; }
        .pl#{$value}-mobile { padding-left: vw($value) !important; }
        .pr#{$value}-mobile { padding-right: vw($value) !important; }
    }
}

//  TABLET PORTRAIT
@media only screen and (min-width: 577px) and (max-width: 768px){
    .is-hidden-tablet-p {
        display: none;
    }

}

// Tablet landscape
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .is-hidden-tablet-l {
        display: none;
    }
}

// Notebook
@media only screen and (min-width: 1025px) {
    .is-hidden-desktop {
        display: none !important;
    }
}

@media(max-width: 1919px){
    .only-desktop {
        display: none !important;
    }

}