

/* ------------------------|
|                          |
|       STYLE HEADER       |
|                          |
| -------------------------|
*/

header{
   @include transition(0.6s);
   @include fixed($t: 0, $z: 201);
   width: 100%;
   height: 125px;
   background: none;
   padding-top: 55px;


   .navbar-burger{
      // background-color: #C9BCA2;
      // border-radius: 26px;
      color: #FFF;
      margin: 5px 0 0;
      // margin-right: 25px;
      display: block;
      // transform: scale(1.3);
      height: 2.6rem;
      width: 64px;

      span{
         background-color: #FFF;
         width: 64px;
         height: 2px;
         left: calc(50% - 32px);
         @include transition();

         &:first-child{ top: calc(50% - 9px); }
         &:nth-child(3){ top: calc(50% + 7px); }
      }

      &.is-active span:first-child{
         transform: translateY(10px) rotate(45deg);
      }


      &:hover{
         background: none;

         span{
            background-color: #FFF;
         }
      }

      &.is-active{
         span{ background-color: #FFF; }

         &:hover{
            span{ background-color: $secondary-color; }
         }
      }
   }


   // &.is-hide{
   //    top: -125px;
   //    .logo{ opacity: 0; }
   // }

   &.is-compact{
      padding-top: 15px;
      height: 80px;
      overflow: hidden;
      background-color: rgba($primary-color,0.6);
      backdrop-filter: blur(6px); 

      .logo{
         max-width: 250px;
         margin-top: 15px;
      }
      
      // .navbar-burger{ margin-top: 21px; }
   }


   .logo{
      max-width: 350px;
      margin-top: 10px;
      // transition: all 1s cubic-bezier(0.38,0,.02,1);
      @include transition(1.2s);
   }

   .links{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      @include transition(0.6s);

      a{
         color: $root-color;
         font-size: 1.5em;
         font-weight: 500;
         font-family: $primary-font;
         position: relative;
         letter-spacing: 1px;
         @include before(#49433b, 0, 1px, 0, 115%, $time: 0.7s);

         &:hover{
            // color: $primary-color;
            color: #49433b;

            &:before{
               width: 100%;
            }
         }

         &.is-active{
            color: $primary-color;

            &:before{
               width: 100%;
            }       
         }
      }
   }


   .logo-gm{
      width: 180px;
   }
}




/* ------------------------|
|                          |
|         MENU FLOAT       |
|                          |
| -------------------------|
*/

.menu{
   @include fixed($t: 0, $r: -100%, $z: 200);
   @include size(100%, 100vh);
   display: flex;
   overflow: hidden;
   transition: all 1s cubic-bezier(0.54, 0.18, 0.13, 1);
   background-color: rgba($primary-color, .95);
   opacity: 0;

   &.is-active{
      right: 0;
      opacity: 1;
   }

   .container-menu{
      margin-top: 26vh;
      position: relative;
      width: 100%;
   }

   .bt-close-menu{
      @include absolute($t: 45px, $l: 60px);
      @include transition(0.6s);
      cursor: pointer;
      display: block;

      &:hover{ transform: rotate(90deg); }
   }

   // .logo{
   //    @include absolute($b: 7%, $l: 6vw);
   //    @include size(90px, 30px);
   //    // display: block;
   // }

   // .phone{
   //    @include absolute($b: 7%, $r: 6vw);
      
   //    a{
   //       letter-spacing: 0.3em;
   //    }
   // }

   .menu-item{
      // font-family: $primary-font;
      // font-size: 3.5em;
      @include fs-vw(3);
      // font-weight: 700;
      line-height: 3.3vh;
      display: inline-block;
      margin-bottom: 8.0vh;
      color: $ll-gray;
      // letter-spacing: 1.5px;
      @include transition(0.4s);

      &:hover, &.current{
         color: $dark-color;
         transform: translateX(15px);
      }
   }
}