 @charset "utf-8";

@import 'var-mix';

@import 'base';
@import 'inputs';
@import 'headers';
@import 'buttons';
@import 'banners';





/* ------------------------|
|                          |
|       STYLE HOME         |
|                          |
| -------------------------|
*/

.section-intro{

   overflow: hidden;

   .logo{ max-width: 330px; }

   .logo-txt{ letter-spacing: .55em; }

   .txt-big{
      @include fs-vw(3.6);
      letter-spacing: 0.2em;
      line-height: 1.333;
   }



   .img2{
      @include absolute($b: -104px, $l: 37px);
      max-width: 823px;
   }

   hr { max-width: 250px; }

   picture.building-image {
      position: absolute;
      bottom: 0;
      right: 0;

      .logo-artefacto {
         mix-blend-mode: multiply;
         position: absolute;
         top: 94px;
         left: -41px;
      }
   }

   .sombra-direita {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
   }
   .sombra-esquerda{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
   }
}




.section-block-2{
   background: white;
   padding-top: 135px;
   padding-bottom: 0;

   .container-block-2 {
      display: grid;
      grid-template-columns:  1fr 1fr ;

      .left {
         position: relative;

         .background-img {
            position: absolute;
            top: -57px;
            right: -47px;
            max-width: unset;
         }
      }
   }


   .right {
      h2 {
         text-transform: uppercase;
         margin-top: 70px;
      }

      hr {
         max-width: 300px;
         margin-top: 25px;
         margin-bottom: 34px;
      }

      .btn {
         background: $secondary-color;
      }

      .check-items {
         margin-top: 36px;


         div {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;

            p { font-weight: bolder; }

         }
      }

      .hotsprint-circular-logo {
         position: relative;
         width: 173px;   /* largura do símbolo */
         height: 171px;  /* altura do símbolo */
         margin-left: 20px;
      }

      /* Símbolo fixo no centro */
      .hotsprint-circular-logo img:first-child {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
      }

      /* Hélice girando em si */
      .hotsprint-circular-logo img:last-child {
         position: absolute;
         top: 49%;
         left: 50%;
         transform: translate(-50%, -50%);
         transform-origin: center center;
         animation: spin-helice 20s linear infinite;
         z-index: 3;
      }

      @keyframes spin-helice {
         from { transform: translate(-50%, -50%) rotate(0deg); }
         to   { transform: translate(-50%, -50%) rotate(360deg); }
      }
   }
}

.section-como-funciona{
   background: #272525;
   min-height: 1055px;
   padding-top: 150px;
   padding-bottom: 160px;

   h2, p, strong {
      color: white;
   }

   hr {
      background: $secondary-color;
      max-width: 200px;
      margin-top: 34px;
      margin-bottom: 34px;
   }

   .cards-container {
      display: flex;
      justify-content: space-between;

      .single-card {

         padding-top: 33px;
         padding-bottom: 55px;
         border: 2px solid $secondary-color;
         width: 100%;
         max-width: 313px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         position: relative;
         text-align: center;

         hr {
            width: min(100%, 110px);
            margin-top: 23px;
            margin-bottom: 23px;
         }

         p, hr, strong, img.icon-card {
            position: relative;
            z-index: 1;
         }

         strong {
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.5;
         }

         .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            z-index: 0;

         }
      }
   }

   .btn {
      background: $secondary-color;
      display: block;
      /* max-width: 590px; */
      height: 60px;
      width: fit-content;
   }

   .swiper.slide-imoveis{
      overflow: visible;

      .outer-next, .outer-prev{
         @include size(40px);
         border-radius: var(--radius-sm);
         background-color: $d-gray;
         transition: all 0.2s linear;
      }

      .outer-prev{
         left: initial;
         right: 210px;
      }

      .outer-next{ right: 158px; }

      .swiper-horizontal>.swiper-scrollbar,
      .swiper-scrollbar.swiper-scrollbar-horizontal{
         left: 0;
      }

      .swiper-scrollbar-drag{
         height: 8px;
         top: -2px;
      }

      .btn-all{
         @include absolute($b: -110px, $r: 12px);
      }
   }
}





 .section-carousel{
    background: white;
    min-height: 1055px;
    padding-top: 150px;
    padding-bottom: 160px;

    h2, p, strong {
       color: #04090d;
    }

    hr {
       background: #04090d;
       max-width: 200px;
       margin-top: 34px;
       margin-bottom: 34px;
    }

    .swiper.slide-imoveis{
       overflow: visible;

       .outer-next, .outer-prev{
          @include size(40px);
          border-radius: var(--radius-sm);
          background-color: $d-gray;
          transition: all 0.2s linear;
       }

       .outer-prev{
          left: initial;
          right: 210px;
       }

       .outer-next{ right: 158px; }

       .swiper-horizontal>.swiper-scrollbar,
       .swiper-scrollbar.swiper-scrollbar-horizontal{
          right: 0;
          left: unset;
          right: 270px;

       }

       .swiper-scrollbar-horizontal {
          width: 700px;

       }

       .swiper-scrollbar-drag{
          height: 8px;
          top: -2px;
       }

       .btn-all{
          @include absolute($b: -110px, $r: 12px);
       }
    }
 }


 :root {
    --swiper-navigation-color: #FFF;

    --swiper-scrollbar-bottom: -95px;
    --swiper-scrollbar-sides-offset: 12%;
    --swiper-scrollbar-drag-bg-color: #{$secondary-color};
 }

 .slide-imoveis{
    --swiper-navigation-size: 20px;
    --swiper-navigation-top-offset: calc(100% + 80px);
 }

 .card-imovel{
    --swiper-navigation-top-offset: calc(50% - 10px);
 }


 .slide{
   padding: 0 120px 0 120px;
   height: 370px;

   &:before, &:after{
      content: '';
      @include absolute($t: 0, $l: 0, $z: 1);
      @include size(100%, 50px);
      background-image: linear-gradient(to bottom, #FFF, rgba(#FFF, 0));
   }

   &:after{
      top: initial;
      bottom: 0;
      background-image: linear-gradient(to top, #FFF, rgba(#FFF, 0));
   }

   .west-stage{
      margin-top: 40px;
   }
}

 .section-description{
    background: #272525;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    .container-description {
       display: grid;
       grid-template-columns:  2fr 1fr;

       padding-top: 135px;
       padding-bottom: 135px;

       .left {
          h2, p {
             color: white;
          }

          h2 strong { font-weight: 600; }

          strong { color: $secondary-color; font-weight: 500; }

          hr {
             background: $secondary-color;
             max-width: 200px;
             margin-top: 34px;
             margin-bottom: 34px;
          }

          .check-items {
             max-width: 865px;

             div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 14px;
             }
          }
       }

       .right {
       }

       .btn {
          background: $secondary-color;
       }
    }

    .main-img {
       position: absolute;
       bottom: -1px;
       right: -178px;
    }

    .check-items {
       display: grid;
       grid-template-columns: repeat(2, minmax(0, 1fr)); // 2 colunas
       column-gap: 0px;
       row-gap: 26px;

       > div {
          display: flex;
          align-items: flex-start;
          gap: 8px;

          p {
             margin: 0;
             line-height: 1.4;
             font-weight: 300;
          }
       }

       img {
          width: 22px;
          height: 22px;
          flex-shrink: 0;
       }



       // responsivo: vira 1 coluna no mobile
       @media (max-width: 768px) {
          grid-template-columns: 1fr;
       }
    }
 }



.section-final{
   background-color: $dark-color;

   .logo{
      max-width: 50px;
      filter: brightness(0) saturate(100%) invert(33%) sepia(51%) saturate(4270%) hue-rotate(349deg) brightness(104%) contrast(102%);
   }

   .galo{
      @include absolute($b: 71%, $l: calc(50% - 74px));
      max-width: 197px;
   }
}




.section-home-contato{
   background: #f2f1eb;
   padding-top: 140px;

   h2{
      font-size: 30px;
      letter-spacing: 0.21em;

      strong { font-weight: 700; }
   }

   h3 { font-size: 24px; line-height: 2;}

   h3 strong { font-weight: 500; }

   .img2{
      @include absolute($b: -175px, $l: -136px);
      max-width: 823px;
   }

   .btn {
      background: $secondary-color;
      padding-left: 50px;
      padding-right: 50px;

      span {
         font-weight: 400;
         letter-spacing: .139em;
      }
   }

   p.info-container {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 200;
      letter-spacing: 0.32em;
      line-height: 2.5;

      strong {
         font-size: 24px;
         font-weight: 600;
         line-height: 1.8;
      }
   }


   form .btn {
      background: #272525;

      span { color: white; }
   }
}









/* ------------------------|
|                          |
|      BT WHATSAPP         |
|                          |
| -------------------------|
*/ 

.bt-whatsbox{
   @include fixed($b: 25px, $r: 25px, $z: 999);
   @include size(54px);
   border-radius: 50%;
   background: #00a859;
   text-align: center;
   color: #FFF;
   box-shadow: 0 0 0 0 rgba(0,0,0,1);
   animation: pulse 2s infinite;
   cursor: pointer;
   transition: all 0.3s cubic-bezier(.74,.13,.42,1.81);
   
   i{
      line-height: 55px;
      font-size: 28px;
      transform: translateX(2px);
   }

   &.hide{ opacity: 0; transform: scale(0); }
   &:hover{ transform: scale(1.2); }
}

@keyframes pulse {
   0% { box-shadow: 0 0 0 0 rgba(#00a859, 0.7); }
   70% { box-shadow: 0 0 0 15px rgba(0,168,89,0); }
   100% {  box-shadow: 0 0 0 0 rgba(0,168,89,0); }
}





/* COOKIES */

.cookies{
   font-size: 14px;
   position: fixed;
   width: 1000px;
   max-width: 100%; 
   z-index: 202;
   bottom: 40px;
   margin-left: 50%;
   transform: translateX(-50%);

   .cookies-warning-box{
      border-radius: 0px;
      box-shadow: 6px 2px 48px -17px rgba(0,0,0,0.75);
      padding: 40px 50px 40px;
      background-color: $secondary-color;
      text-align: justify;

      h3{ font-size: 24px; }
   }

   .cookies-warning-btn .btn{
      font-size: 14px;
      padding: 13px 30px 9px;
   }
}


@media screen and (max-width: 767px) {

   .cookies{
      width: 90%;
      bottom: 20px;

      .cookies-warning-box{
         font-size: 14px;
         padding: 30px 35px;

         h3{ font-size: 21px; }
      }

      .cookies-warning-text{
         margin-bottom: 0;
      }
      
      .btn{ min-width: 220px; }
   }
}












@import 'footer';
@import 'animations';
@import 'global';
@import 'mobile';